* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

$black1: #232323;
$black2: #2c2c2c;
$black3: #414141;
$black4: #7c7c7c;

$section: rgba(13,15,16,.55);

$text_color: #cdcdcd;


/* NAVBAR - D */
.bar-presentation {
    position: sticky;
    top: 0px;
    bottom: 100px;
    display: flex;
    align-items: center;
    background: $black1;
    color: $text_color;
    padding: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    justify-content: space-between;

    .logo {
        line-height: 0;
        margin: 0 20px;
        height: 100%;
        width: 100px;
    }

    .logo img {
        max-height: 40px;
        max-width: 100px;
        flex-shrink: 0;
        height: 50px;
        width: 50px;
    }

    span {
        padding: 0 20px;
        font-size: 20px;
        cursor: pointer;
        
    }

    span:hover {
        color: #00C6A7;
    }
}